.game {
  background-color: var(--black);
  border-radius: 8px;
  padding: 2.5rem;
}

.game + .game {
  margin-top: 2rem;
}

.game > header {
  display: flex;
  align-items: top;
  justify-content: space-between;
}

.gameMasterInfo {
  display: flex;
  gap: 1rem;
}

.gameDetailInfo {
  padding: 1rem 0;
}

.gameDetailInfo strong {
  display: block;
  color: var(--white);
  line-height: 1.6rem;
}

.gameDetailInfo span {
  display: block;
  color: var(--gray);
  line-height: 1.6rem;
}

.gameCover {
  box-sizing: initial;
  height: 10rem;
  border-radius: 8px;
  border: 4px solid var(--black);
  outline: 2px solid var(--blue-2);
}

.gameDescription {
  display: flex;
  align-items: top;
  border: 1px solid red;
}
